@model DayZTradeCenter.UI.Web.Models.AnalyticsViewModel

@{
    ViewBag.Title = "Index";
}

<div class="row" style="margin-bottom: -10px">
    <div class="col-md-1"><h2>Analytics</h2></div>
    <div class="col-md-6" style="margin-top: 18px; padding-left: 55px;">
        Try our new <a href="@Url.Action("WebApi", "Home")"><strong>web api!</strong></a>
        <img src="../../Content/img/new_feature.png" alt="" style="padding-left: 3px; margin-top: -3px" />
    </div>
</div>

<hr />

<div class="container" style="margin-top: 20px" id="analytics">
    @Html.Partial("_Analytics", Model)
</div>

@section scripts {
    @Scripts.Render("~/bundles/highcharts")

    <script>
        $(function () {
            $("#ItemId").change(function () {
                var itemId = $("#ItemId").val();
                $("#chart").load(
                    '@(Url.Action("GetDailyTrendsFor", "Analytics"))?itemId=' + itemId);
            });

            function worker() {
                var itemId = $("#ItemId").val();

                $.ajax({
                    url: '@(Url.Action("Index"))?itemId=' + itemId,
                    //url: '@(Url.Action("Index"))',
                    success: function (data) {
                        $("#analytics").html(data);
                    },
                    complete: function () {
                        // Schedule the next request when the current one's complete
                        setTimeout(worker, 20 * 1000); // each 20 sec.
                    }
                });
            }

            setTimeout(worker, 5000);
        });
    </script>
}