@model IEnumerable<DayZTradeCenter.DomainModel.Trade>

@{
    const int pageSize = 4;
}

<!-- #region .container -->
<div class="container">
    <div class="row">
        @if (Model.Any())
        {
            <div class="jumbotron col-md-12" style="padding-top: 35px; padding-bottom: 35px">
                <!-- #region #Carousel -->
                <div id="Carousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        @for (var i = 0; i <= Model.Count() / pageSize; i++)
                        {
                            <li data-target="#Carousel"
                                data-slide-to="@i"
                                @if (i == 0) {  @: class="active"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                }>
                            </li>
                        }
                    </ol>

                    <!-- #region .carousel-inner -->
                    <div class="carousel-inner">
                        @for (var i = 0; i <= Model.Count() / pageSize; i++)
                        {
                            <div class="item @if(i==0){<text>active</text>}">
                                <div class="row">
                                    @foreach (var trade in Model.Skip(i * pageSize).Take(pageSize))
                                    {
                                        <div class="col-md-3">
                                            <a href="@Url.Action("Details", "Trades", new { id = trade.Id })" class="thumbnail">
                                                @*<img src="http://placehold.it/250x250" alt="Image" style="max-width: 100%;">*@
                                                @*@trade.Id,*@

                                                H
                                                <ul>
                                                    @foreach (var itemDetails in trade.Have)
                                                    {
                                                        <li>
                                                            @itemDetails.Item.Name, Q: @itemDetails.Quantity
                                                        </li>
                                                    }
                                                </ul>

                                                W
                                                <ul>
                                                    @foreach (var itemDetails in trade.Want)
                                                    {
                                                        <li>
                                                            @itemDetails.Item.Name, Q: @itemDetails.Quantity
                                                        </li>
                                                    }
                                                </ul>

                                                T. Rep:
                                                @{
                                                    var reputation = trade.Owner.GetReputation();
                                                }
                                                @if (reputation > 0)
                                                {
                                                    if (reputation > 4.5)
                                                    {
                                                        <img src="~/Content/img/top_user.png" />
                                                    }
                                                    else
                                                    {
                                                        @reputation
                                                    }
                                                }
                                                else
                                                {
                                                    <img src="~/Content/img/new_user.png" />
                                                }
                                                | # Offers: @trade.Offers.Count
                                            </a>
                                            <a href="@Url.Action("Offer", "Trades", new { tradeId = trade.Id })" class="btn btn-primary" role="button">Offer</a>
                                        </div>
                                    }
                                </div><!--.row-->
                            </div><!--.item-->
                        }
                    </div>
                    <!-- #endregion -->

                    <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                    <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                </div>
                <!-- #endregion -->
            </div>
        }
        else
        {
            <div class="well">
                <h4>No trades available!</h4>
            </div>
        }
    </div>
</div>
<!-- #endregion -->
