@model IEnumerable<DayZTradeCenter.UI.Web.Models.TradeGalleryViewModel>

@{
    const int pageSize = 4;
}

<!-- #region .container -->
<div class="container">
    <div class="row">
        @if (Model.Any())
        {
            <div class="jumbotron col-md-12" style="padding-top: 35px; padding-bottom: 35px">
                <!-- #region #Carousel -->
                <div id="Carousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        @for (var i = 0; i < Math.Ceiling((double)Model.Count() / pageSize); i++)
                        {
                            <li data-target="#Carousel"
                                data-slide-to="@i"
                                @if (i == 0) {    
                                    @: class="active"
                                }>
                            </li>
                        }
                    </ol>

                    <!-- #region .carousel-inner -->
                    <div class="carousel-inner" style="padding-bottom: 10px">
                        <!-- 'padding-bottom' added to avoid cutting the shadow -->
                        @for (var i = 0; i < Math.Ceiling((double)Model.Count() / pageSize); i++)
                        {
                            <div class="item @if(i==0){<text>active</text>}">
                                <!-- #region Trades -->
                                <div class="container">
                                    <div class="row">
                                        @foreach (var vm in Model.Skip(i*pageSize).Take(pageSize))
                                        {
                                            <div class="col-md-3" data-target="@Url.Action("Details", "Trades", new {id = vm.Trade.Id})">
                                                <div class="trade">
                                                    <div class="border">
                                                        <div class="box">
                                                            <div>
                                                                <p>H</p>
                                                                <ul>
                                                                    @foreach (var itemDetails in vm.Trade.Have)
                                                                    {
                                                                        <li>
                                                                            @itemDetails.Quantity @itemDetails.Item.Name
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>
                                                            <div>
                                                                <p>W</p>
                                                                <ul>
                                                                    @foreach (var itemDetails in vm.Trade.Want)
                                                                    {
                                                                        <li>
                                                                            @itemDetails.Quantity @itemDetails.Item.Name
                                                                        </li>
                                                                    }
                                                                </ul>
                                                            </div>

                                                            <hr />
                                                            <div class="trade-info">
                                                                @Html.Partial("_ReputationWidget", vm.Trade.Owner.GetReputation())
                                                            </div>

                                                            <hr />
                                                            <div class="trade-info">
                                                                <span class="badge">@vm.Trade.Offers.Count</span>
                                                            </div>

                                                            @if (vm.Trade.IsHardcore || vm.Trade.IsExperimental)
                                                            {
                                                                <hr />
                                                                <div class="trade-info">
                                                                    @if (vm.Trade.IsHardcore && vm.Trade.IsExperimental)
                                                                    {
                                                                        @:1st person | Exp.
                                                                    }
                                                                    else if (vm.Trade.IsHardcore)
                                                                    {
                                                                        @:1st person
                                                                    }
                                                                    else if (vm.Trade.IsExperimental)
                                                                    {
                                                                        @:Exp.
                                                                    }
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>

                                                    <a href="@Url.Action("Offer", "Trades", new {tradeId = vm.Trade.Id})"
                                                       class="btn btn-primary @if (!vm.CanOffer)
                                                                              {
                                                                                  <text>disabled</text>
                                                                              }"
                                                       style="display: table; margin: 0 auto; margin-top: 4px; margin-bottom: 1px"
                                                       role="button">Offer</a>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <!-- #endregion -->
                            </div>
                            <!--.item-->
                        }
                    </div>
                    <!-- #endregion -->

                    <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
                    <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
                </div>
                <!-- #endregion -->
            </div>
        }
        else
        {
            <div class="well">
                <h4>No trades available!</h4>
            </div>
        }
    </div>
</div>
<!-- #endregion -->
