@model DayZTradeCenter.UI.Web.Models.AdminDashboardViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="page-header" style="margin-top: 30px">
    <h1>
        Dashboard <small>Admin</small>
    </h1>
</div>

<h3>Coming soon!</h3>

<ul>
    <li>Reports</li>
    <li>Messages</li>
</ul>

<br />

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th style="width: 35px">UserId</th>
                <th style="width: 45px">UserName</th>
                <th style="width: 10px">Reputation</th>
                <th style="width: 10px"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>@user.GetReputation()</td>
                    <td>
                        @{
                            var action = "Unban";
                            if (user.IsApproved)
                            {
                                action = "Ban";
                            }
                        }
                        <a href="@Url.Action(action, "Admin", new { userId = user.Id })" class="btn btn-default">@action</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
