@using DayZTradeCenter.DomainModel.Entities

@model DayZTradeCenter.UI.Web.Models.DashboardViewModel

@{
    ViewBag.Title = "Home Page";
}

<!-- #region style -->
@section styles {
    <style>
        body {
            padding-top: 80px;
        }

        .well {
            margin-bottom: -5px;
        }

        .col-sm-3 {
            padding-left: 12px; padding-right: 12px
        }

        .box {
            background: white;
        }

        .trade-info {
            padding: 5px; 
            margin-left: auto; margin-right: auto; 
            display: table;
        }
        
        .border {
            padding: 3px;
            background: black
        }

        .trade {
            padding: 4px;
        }
        .trade:hover {
            background: lightgreen;
            
            cursor: pointer;
            box-shadow: 1px 1px 6px #666;
        }

        .trade p {
            text-align: center;
            background: lightskyblue;
            margin-bottom: 0 !important;
            font-size: 18px;
        }

        .trade ul {
            list-style: none;
            padding-left: 5px;
            padding-top: 10px
        }

        .trade hr {
            margin-top: 0;
            margin-bottom: 0
        }
    </style>
}
<!-- #endregion -->

<div id="gallery">
    @Html.Partial("_TradeGallery", Model)
</div>

<!-- #region .page-header -->
<div class="page-header" style="margin-top: 30px">
    <h1>
        Profile
    </h1>
    @Html.DisplayNameFor(model => model.Stats.Reputation)
    @if (Model.Stats.Reputation.HasValue)
    {
        if (Model.Stats.Reputation > 4.5)
        {
            <img src="~/Content/img/top_user.png" />
        }
        else
        {
            <span class="badge">@Html.DisplayFor(model => model.Stats.Reputation)</span>
        }
    }
    else
    {
        <img src="~/Content/img/new_user.png" />
    }
    @{
        var color = "black";
        if (Model.Stats.Ranking == 1)
        {
            color = "red";
        }
        else if (Model.Stats.Ranking == 2 || Model.Stats.Ranking == 3)
        {
            color = "green";
        }
    }
    <span id="rank"
          style="margin-left: 5px; color: @color"
          data-toggle="tooltip"
          data-placement="bottom"
          title="Your current ranking">
        # <strong>@Model.Stats.Ranking</strong>
    </span>
    @if (Model.Stats.Ranking != 1 && @Model.Stats.TargetReputation.HasValue)
    {
        <span id="target"
              style="margin-left: 5px"
              data-toggle="tooltip"
              data-placement="right"
              title="Based on the current reputation ranking, this is the reputation of the player who is preceding you!">
            Let's see if you can reach reputation: <strong>@Model.Stats.TargetReputation</strong>
        </span>
    }
</div>
<!-- #endregion -->

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">My trades</h3>
            </div>
            <div class="panel-body">
                The list of all your <strong>trades</strong>.
            </div>
            <ul class="list-group">
                @foreach (var trade in Model.MyTrades.ToArray())
                {
                    <li class="list-group-item">
                        @if (trade.HasReceivedFeedbackFromOwner)
                        {
                            @trade.Id
                        }
                        else if (trade.State == TradeStates.Completed)
                        {
                            <a href="@Url.Action("TradeCompleted", "Trades", new { id = trade.Id })">@trade.Id</a>
                        }
                        else if (trade.State == TradeStates.Closed)
                        {
                            <a href="@Url.Action("ExchangeManagement", "Trades", new { id = trade.Id })">@trade.Id</a>
                        }
                        else
                        {
                            <a href="@Url.Action("Details", "Trades", new { id = trade.Id })">@trade.Id</a>
                        },

                        <strong>H</strong> {
                        @foreach (var itemDetails in @trade.Have)
                        {
                            @itemDetails.Item.Name@:, Q: @itemDetails.Quantity;
                            }
                        }

                        <strong>W</strong> {
                        @foreach (var itemDetails in @trade.Want)
                        {
                            @itemDetails.Item.Name@:, Q: @itemDetails.Quantity;
                            }
                        }

                        @if (trade.HasReceivedFeedbackFromOwner)
                        {
                            @:DONE
                        }
                        else if (trade.State == TradeStates.Completed)
                        {
                            @:COMPLETED: leave feedback!
                        }
                        else if (trade.State == TradeStates.Closed)
                        {
                            @:CLOSED
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">My offers</h3>
            </div>
            <div class="panel-body">
                The list of all the trades you've made an <strong>offer</strong> to.
            </div>
            <ul class="list-group">
                @foreach (var trade in Model.MyOffers.ToArray())
                {
                    <li class="list-group-item">
                        <a href="@Url.Action("Details", "Trades", new { id = trade.Id })">@trade.Id</a>,

                        <strong>H</strong> {
                        @foreach (var itemDetails in @trade.Have)
                        {
                            @itemDetails.Item.Name@:, Q: @itemDetails.Quantity;
                            }
                        }

                        <strong>W</strong> {
                        @foreach (var itemDetails in @trade.Want)
                        {
                            @itemDetails.Item.Name@:, Q: @itemDetails.Quantity;
                            }
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Past activities</h3>
    </div>
    <div class="panel-body">
        @if (Model.History.Any())
        {
            <ul>
                @foreach (var e in Model.History)
                {
                    <li>
                        @e.Event.ToString(), @e.TimeStamp
                    </li>
                }
            </ul>
        }
        else
        {
            @: No past history!
        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/index")

    @Html.Partial("_RefreshTradeGallery")
}
