@model DayZTradeCenter.UI.Web.Models.DashboardViewModel

@{
    ViewBag.Title = "Home Page";
}

<!-- #region style -->
<style>
    body {
        padding-top: 80px;
    }

    .well {
        margin-bottom: -5px;
    }
</style>
<!-- #endregion -->

@Html.Partial("_LatestTrades", Model.LatestTrades)

<!-- #region .page-header -->
<div class="page-header" style="margin-top: 30px">
    <h1>
        Profile
        @if (Model.IsAdmin)
        {
            <small>Admin</small>
        }
    </h1>

    @if (!User.IsInRole("Administrator"))
    {
        @Html.DisplayNameFor(model => model.Reputation)
        <span class="badge">@Html.DisplayFor(model => model.Reputation)</span>
    }
</div>
<!-- #endregion -->

@if (!User.IsInRole("Administrator"))
{
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">My trades</h3>
                </div>
                <div class="panel-body">
                    The list of all your <strong>trades</strong>.
                </div>
                <ul class="list-group">
                    @foreach (var trade in Model.MyTrades)
                    {
                        <li class="list-group-item">
                            @if (trade.Completed)
                            {
                                <a href="@Url.Action("TradeCompleted", "Trades", new { id = trade.Id })">@trade.Id</a>
                            }
                            else if (trade.IsClosed)
                            {
                                <a href="@Url.Action("ExchangeManagement", "Trades", new { id = trade.Id })">@trade.Id</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Details", "Trades", new { id = trade.Id })">@trade.Id</a>
                            }
                            ,
                            <strong>H</strong> @trade.Have.First().Name
                            <strong>W</strong> @trade.Want.First().Name
                            @if (trade.Completed)
                            {
                                @:COMPLETED: leave feedback!
                            }
                            else if (trade.IsClosed)
                            {
                                @:CLOSED: winner = @trade.Winner
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">My offers</h3>
                </div>
                <div class="panel-body">
                    The list of all the trades you've made an <strong>offer</strong> to.
                </div>
                <ul class="list-group">
                    @foreach (var trade in Model.MyOffers)
                    {
                        <li class="list-group-item">
                            <a href="@Url.Action("Details", "Trades", new { id = trade.Id })">@trade.Id</a>
                            <strong>H</strong> @trade.Have.First().Name
                            <strong>W</strong> @trade.Want.First().Name
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Past activities</h3>
        </div>
        <div class="panel-body">
            The list of all your past activities. <strong>Coming soon!</strong>
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/app/latesttrades.js"></script>
}
