@model DayZTradeCenter.UI.Web.Models.LandingPageViewModel

@{
    ViewBag.Title = "Home Page";
}

<!-- #region style -->
@section styles {
    <style>
        body {
            padding-top: 80px;
        }

        img {
            display: block;
            margin-right: auto;
        }

        @@media (min-width: 361px) and (max-width: 398px) {
            h1 {
                font-size: 31px !important;
            }

            .lead { 
                font-size: 17px !important;
            }
        }
        @@media (min-width: 323px) and (max-width: 360px) {
            h1 {
                font-size: 27px !important;
            }
        }
        @@media (max-width: 322px) {
            h1 {
                font-size: 26px !important;
            }
        }

        @@media (max-width: 360px) {
            .lead { 
                font-size: 15px !important;
            }
        }
    </style>
    
    @Styles.Render("~/Content/trades")
}
<!-- #endregion -->

<div class="jumbotron" style="padding-top: 26px; padding-bottom: 25px">
    <h1 style="margin-top: 5px">DayZ Trade Center</h1>
    <p class="lead">... where you can find everything!</p>
    
    <div id="gallery">
        @Html.Partial("_TradeGallery", Model)
    </div>

    <p><a href="@Url.Action("Index", "Features")" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="container-fluid">
    <div class="row" style="padding-top: 25px">
        <div class="col-sm-4">
            <img class="center-block" src="../../Content/img/feature_reputation.png" alt="" />
            <h2>Trade</h2>
            <p>
                Trade your items with a <strong>secure</strong> and <strong>reliable</strong> reputation system.
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Features")">Learn more &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <img class="center-block" src="../../Content/img/feature_messages.png" alt="" />
            <h2>Exchange</h2>
            <p>
                Meet other people with our exchange system.
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Features")">Learn more &raquo;</a></p>
        </div>
        <div class="col-sm-4">
            <img class="center-block" src="../../Content/img/feature_analytics.png" alt="" />
            <h2>Analytics</h2>
            <p>
                Receive insights on the central loot economy and <br />help developers gathering useful data.
            </p>
            <p><a class="btn btn-default" href="@Url.Action("Index", "Features")">Learn more &raquo;</a></p>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/landing")

    @Html.Partial("_RefreshTradeGallery")
}