@using Microsoft.AspNet.Identity
@using PagedList.Mvc

@model DayZTradeCenter.UI.Web.Models.TradeTableViewModel

@if (Model.Trades.Any())
{
    <div class="table-responsive"
        @if (!Model.IsAdmin)
        {
            <text>
                style="margin-left: auto; margin-right: auto; width: 1024px" 
            </text>
        }>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    @if (Model.IsAdmin)
                    {
                        <th style="width: 2%">Id</th>
                        <th style="width: 24%">Owner Id</th>
                        <th style="width: 21%">Have</th>
                        <th style="width: 21%">Want</th>
                        <th style="width: 8%">Is Hardcore</th>
                        <th style="width: 8%">Is Exp</th>
                        <th style="width: 10%">Owner reputation</th>
                        <th style="width: 6%"># Offers</th>
                    }
                    else
                    {
                        <th style="width: 27%">Have</th>
                        <th style="width: 27%">Want</th>
                        <th style="width: 10%">Is Hardcore</th>
                        <th style="width: 8%">Is Exp.</th>
                        <th style="width: 14%">Owner reputation</th>
                        <th style="width: 8%"># Offers</th>
                        <th style="width: 6%"></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var trade in Model.Trades)
                {
                    <tr>
                        @if (Model.IsAdmin)
                        {
                            <td>@trade.Id</td>
                        }
                        @if (Model.IsAdmin)
                        {
                            <td>@trade.OwnerId</td>
                        }
                        <td>@Html.Partial("_ItemsDetails", trade.Have.ToArray())</td>
                        <td>@Html.Partial("_ItemsDetails", trade.Want.ToArray())</td>
                        <td>@trade.IsHardcore</td>
                        <td>@trade.IsExperimental</td>
                        <td>
                            @{
                                var reputation = trade.OwnerReputation;
                            }
                            @if (reputation > 0)
                            {
                                if (reputation > 4.5)
                                {
                                    <img src="~/Content/img/top_user.png" />
                                }
                                else
                                {
                                    @reputation
                                }
                            }
                            else
                            {
                                <img src="~/Content/img/new_user.png" />
                            }
                        </td>
                        <td>@trade.OffersCount</td>
                        @if (trade.CanOffer)
                        {
                            <td>
                                <a class="btn btn-default table-btn"
                                   href="@Url.Action("Offer", new {tradeId = trade.Id})">Offer</a>
                            </td>
                        }
                        else if (trade.OwnerId != User.Identity.GetUserId() && !Model.IsAdmin)
                        {
                            <td>
                                <a class="btn btn-default table-btn"
                                   href="@Url.Action("Withdraw", new {tradeId = trade.Id})">Withdraw</a>
                            </td>
                        }
                        else if (!Model.IsAdmin)
                        {
                            <td>
                                <button class="btn btn-default table-btn" 
                                        onclick='deleteTrade(@trade.Id, this)'>Delete</button>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="panel panel-default" 
        @if (!Model.IsAdmin) { 
            <text>
                style="margin-left: auto; margin-right: auto; width: 1024px"
            </text>  
        }>
        <div class="panel-body">
            There are no trade available!
        </div>
    </div>
}

@if (Model.Trades.Any())
{
    @:Page @(Model.Trades.PageCount < Model.Trades.PageNumber ? 0 : Model.Trades.PageNumber) of @Model.Trades.PageCount
}

<input id="_itemId" type="hidden" value="@ViewBag.ItemId">
<input id="_searchType" type="hidden" value="@ViewBag.SearchType">
<input id="_page" type="hidden" value="@Model.Trades.PageNumber">

@Html.PagedListPager(Model.Trades, page => Url.Action("Index",
    new { 
        page, 
        itemId = ViewBag.ItemId, 
        searchType = ViewBag.SearchType, 
        hardcoreOnly = ViewBag.IsHardCoreOnly,
        expOnly = ViewBag.IsExpOnly
    }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "tradesTable" }))