@using Microsoft.AspNet.Identity
@using PagedList.Mvc

@model PagedList.IPagedList<DayZTradeCenter.UI.Web.Models.TradeViewModel>

@if (Model.Any())
{
    <div class="table-responsive"
        @if (!User.IsInRole("Administrator"))
        {
            <text>
                style="margin-left: auto; margin-right: auto; width: 1024px" 
            </text>
        }>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    @if (User.IsInRole("Administrator"))
                    {
                        <th style="width: 2%">Id</th>
                        <th style="width: 24%">Owner Id</th>
                        <th style="width: 21%">Have</th>
                        <th style="width: 21%">Want</th>
                        <th style="width: 8%">Is Hardcore</th>
                        <th style="width: 8%">Is Exp</th>
                        <th style="width: 10%">Owner reputation</th>
                        <th style="width: 6%"># Offers</th>
                    }
                    else
                    {
                        <th style="width: 27%">Have</th>
                        <th style="width: 27%">Want</th>
                        <th style="width: 10%">Is Hardcore</th>
                        <th style="width: 8%">Is Exp.</th>
                        <th style="width: 14%">Owner reputation</th>
                        <th style="width: 8%"># Offers</th>
                        <th style="width: 6%"></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var trade in Model)
                {
                    <tr>
                        @if (User.IsInRole("Administrator"))
                        {
                            <td>@trade.TradeData.Id</td>
                        }
                        @if (User.IsInRole("Administrator"))
                        {
                            <td>@trade.TradeData.Owner.Id</td>
                        }
                        <td>
                            @foreach (var have in trade.TradeData.Have)
                            {
                                <span>@have.Item.Name</span>@:,<span><strong>@have.Quantity</strong></span><br />
                            }
                        </td>
                        <td>
                            @foreach (var have in trade.TradeData.Want)
                            {
                                <span>@have.Item.Name</span>@:,<span><strong>@have.Quantity</strong></span><br />
                            }
                        </td>
                        <td>
                            @trade.TradeData.IsHardcore
                        </td>
                        <td>
                            @trade.TradeData.IsExperimental
                        </td>
                        <td>
                            @{
                                var reputation = trade.TradeData.Owner.GetReputation();
                            }
                            @if (reputation > 0)
                            {
                                if (reputation > 4.5)
                                {
                                    <img src="~/Content/img/top_user.png" />
                                }
                                else
                                {
                                    @reputation
                                }
                            }
                            else
                            {
                                <img src="~/Content/img/new_user.png" />
                            }
                        </td>
                        <td>@trade.TradeData.Offers.Count</td>
                        @if (trade.CanOffer)
                        {
                            <td>
                                <a class="btn btn-default table-btn"
                                   href="@Url.Action("Offer", new {tradeId = trade.TradeData.Id})">Offer</a>
                            </td>
                        }
                        else if (trade.TradeData.Owner.Id != User.Identity.GetUserId() && !User.IsInRole("Administrator"))
                        {
                            <td>
                                <a class="btn btn-default table-btn"
                                   href="@Url.Action("Withdraw", new {tradeId = trade.TradeData.Id})">Withdraw</a>
                            </td>
                        }
                        else if (!User.IsInRole("Administrator"))
                        {
                            <td>
                                <button class="btn btn-default table-btn" 
                                        onclick='deleteTrade(@trade.TradeData.Id, this)'>Delete</button>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="panel panel-default" 
        @if (!User.IsInRole("Administrator")) { 
            <text>
                style="margin-left: auto; margin-right: auto; width: 1024px"
            </text>  
        }>
        <div class="panel-body">
            There are no trade available!
        </div>
    </div>
}

@if (Model.Any())
{
    @:Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
}

<input id="_itemId" type="hidden" value="@ViewBag.ItemId">
<input id="_searchType" type="hidden" value="@ViewBag.SearchType">
<input id="_page" type="hidden" value="@Model.PageNumber">

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, itemId = ViewBag.ItemId, searchType = ViewBag.SearchType, hardcoreOnly = ViewBag.IsHardCoreOnly }),
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(
        new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "tradesTable" }))