@using Microsoft.AspNet.Identity
@model DayZTradeCenter.UI.Web.Models.ListTradesViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Trades <small>@Model.Trades.Count() trades found</small></h2>

@if (Model.CanCreate)
{
    <div class="container" style="margin-bottom: 25px">
        <div class="row">
            <div class="col-md-6">
                <a class="btn btn-default" href="@Url.Action("Create")">Add</a>
            </div>
        </div>
    </div>
}

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Have</th>
                <th>Want</th>
                <th>Owner reputation</th>
                @if (!User.IsInRole("Administrator"))
                {
                    <th></th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var trade in Model.Trades)
            {
                <tr>
                    <td>@trade.TradeData.Id</td>
                    <td>
                        <ul>
                            @foreach (var have in trade.TradeData.Have)
                            {
                                <li>@have.Name</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var want in trade.TradeData.Want)
                            {
                                <li>@want.Name</li>
                            }
                        </ul>
                    </td>
                    <td>@trade.TradeData.Owner.GetReputation()</td>
                    @if (trade.CanOffer)
                    {
                        <td>
                            <a class="btn btn-default" 
                               href="@Url.Action("Offer", new {tradeId = trade.TradeData.Id})">Offer</a>
                        </td>
                    }
                    else if (trade.TradeData.Owner.Id != User.Identity.GetUserId())
                    {
                        <td>
                            <a class="btn btn-default"
                               href="@Url.Action("Withdraw", new {tradeId = trade.TradeData.Id})">Withdraw</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>