@model DayZTradeCenter.UI.Web.Models.ListTradesViewModel

@{
    ViewBag.Title = "Index";
}

@section styles {
    <link href="~/Content/Selectize/css/selectize.bootstrap3.min.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    
    <style>
        .table-btn { 
            width: 85px
        }
    </style>
    
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
}

@using (Html.BeginForm())
{
    <div class="container" style="margin-top: 10px">
        <div class="row">
            <div class="col-xs-1 col-xs-offset-3">
                <div class="input-group-btn search-panel">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span id="search_concept">Filter by</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#have">Have</a></li>
                        <li><a href="#want">Want</a></li>
                        <li><a href="#both">Have/Want</a></li>
                    </ul>
                </div>
            </div>
            <input type="hidden" name="searchType" value="both" id="searchType">  
            <div class="col-xs-3" style="padding-right: 0">
                <select id="items" name="itemId">
                    @foreach (var item in Model.Items)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
            <div class="col-xs-1">
                <button class="btn btn-default" type="submit" style="margin-left: -5px"><span class="glyphicon glyphicon-search"></span></button>
            </div>
            @if (Model.IsSearchApplied)
            {
                <div class="col-xs-2">
                    <button id="resetBtn" class="btn btn-default" type="submit" style="margin-left: -53px">Reset</button>
                </div>
            }
        </div>
    </div>
}

<h2>Trades <small id="totalTradeCount">@Model.Trades.TotalItemCount</small><small> trades found</small></h2>

@if (Model.CanCreate)
{
    <div class="container" style="margin-bottom: 12px">
        <div class="row">
            <div class="col-md-5">
                <a class="btn btn-default @if (!Model.CanCreateANewTrade)
                                          {
                                              <text>disabled</text>
                                          }"
                   href="@Url.Action("Create")">Add</a>
                @if (!Model.CanCreateANewTrade)
                {
                    <span class="text-danger" style="margin-left: 10px">You have reached your max quota of active trades</span>
                }
            </div>
        </div>
        <div class="row" style="margin-top: 18px">
            <div class="col-md-6">
                @using (Html.BeginForm("GetHardcoreOnly", "Trades", FormMethod.Post, new { id = "filterTrades" }))
                {
                    <span style="margin-left: 51px">Show hardcore only</span>
                    <input id="showHardcoreOnly" type="checkbox" style="position: relative; top: 2px"/>
                }
            </div>
        </div>
    </div>
}

<div id="tradesTable">
    @Html.Partial("_TradesTable", Model.Trades)
</div>

@section scripts {
    @Scripts.Render("~/bundles/trades_index")
    
    <script>
        $(function() {
            $('#showHardcoreOnly').click(function() {
                var itemId = $("#_itemId").val();
                var searchType = $("#_searchType").val();
                var isHardCoreOnly = $("#showHardcoreOnly").prop("checked");

                var params =
                    "?itemId=" + itemId + "&searchType=" + searchType + "&hardcoreOnly=" + isHardCoreOnly;

                $("#tradesTable").load(
                    '@(Url.Action("Index", "Trades"))' + params);
            });
        });
    </script>
}