@model IEnumerable<DayZTradeCenter.DomainModel.Trade>

@{
    ViewBag.Title = "Index";
}

<h2>Trades <small>@Model.Count() trades found</small></h2>

@if (!User.IsInRole("Administrator"))
{
    <div class="container" style="margin-bottom: 25px">
        <div class="row">
            <div class="col-md-6">
                <button type="button" class="btn btn-default">Add</button>
            </div>
        </div>
    </div>
}

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Have</th>
                <th>Want</th>
                <th>Owner reputation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var trade in Model)
            {
                <tr>
                    <td>@trade.Id</td>
                    <td>
                        <ul>
                            @foreach (var have in trade.Have)
                            {
                                <li>@have.Name</li>
                            }
                        </ul>
                    </td>
                    <td>
                        <ul>
                            @foreach (var want in trade.Want)
                            {
                                <li>@want.Name</li>
                            }
                        </ul>
                    </td>
                    <td>@trade.Owner.GetReputation()</td>
                </tr>
            }
        </tbody>
    </table>
</div>