@using DayZTradeCenter.UI.Web.Helpers
@model DayZTradeCenter.DomainModel.Entities.Item

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd style="margin-bottom: 10px">
            @Html.DisplayFor(model => model.Name)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Rarity)
        </dt>

        <dd style="margin-bottom: 10px">
            @Html.LocalizedEnumDisplayFor(model => model.Rarity)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Details.Category)
        </dt>

        <dd style="margin-bottom: 10px">
            @Html.LocalizedEnumDisplayFor(model => model.Details.Category)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Details.Subcategory)
        </dt>

        <dd style="margin-bottom: 10px">
            @Html.LocalizedEnumDisplayFor(model => model.Details.Subcategory)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
